{{ define "title" }}Room{{ end }}
{{ define "content" }}
  <div class="container mt-3">
    <div class="row mb-3">
      <div class="col">
        <h1>Data Ruangan Hotel</h1>
      </div>
      <div class="col mt-3">
        <a href="/add_room" class="btn btn-outline-success float-end"><img src="/assets/icons/plus.svg" alt="Tambah">Add Room</a>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <table class="table">
          <thead>
            <tr>
              <th scope="col text-center">No</th>
              <th scope="col">Room Number</th>
              <th scope="col">Type</th>
              <th scope="col">Capacity</th>
              <th scope="col">Status</th>
              <th scope="col">Image</th>
              <th scope="col">Price Per Day</th>
              <th scope="col">Created At</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            <tr>
              <th scope="row text-center">1</th>
              <td>C7232S</td>
              <td>Premium</td>
              <td>2 Person</td>
              <td>Active</td>
              <td>
                <img src="..." class="img-thumbnail" alt="...">
              </td>
              <td>Rp 78.000</td>
              <td>2 October 2023</td>
              <td>
                <div class="btn-group btn-group-sm" role="group" aria-label="Basic outlined example">
                  <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
                    <img src="/assets/icons/trash.svg" alt="Delete">
                  </button>
                  <button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#editModal">
                    <img src="/assets/icons/eye.svg" alt="Detail">
                  </button>
                  <a href="/edit_room" type="button" class="btn btn-outline-success">
                    <img src="/assets/icons/pencil-square.svg" alt="Edit">
                  </a>
                </div>
              </td>
            </tr>
            <!-- Edit Modal -->
            <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="editModalLabel">Room Detail</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <div class="mb-3 row">
                      <label for="room_number" class="col-sm-4 col-form-label">Room Number</label>
                      <div class="col-sm-8">
                        <input type="text" readonly class="form-control-plaintext" id="room_number" value="Room Number">
                      </div>
                    </div>
                    <div class="mb-3 row">
                      <label for="type" class="col-sm-4 col-form-label">Type</label>
                      <div class="col-sm-8">
                        <input type="text" readonly class="form-control-plaintext" id="type" value="Type">
                      </div>
                    </div>
                    <div class="mb-3 row">
                      <label for="description" class="col-sm-4 col-form-label">Description</label>
                      <div class="col-sm-8">
                        <input type="text" readonly class="form-control-plaintext" id="description" value="Description">
                      </div>
                    </div>
                    <div class="mb-3 row">
                      <label for="capacity" class="col-sm-4 col-form-label">Capacity</label>
                      <div class="col-sm-8">
                        <input type="text" readonly class="form-control-plaintext" id="capacity" value="Capacity">
                      </div>
                    </div>
                    <div class="mb-3 row">
                      <label for="status" class="col-sm-4 col-form-label">Status</label>
                      <div class="col-sm-8">
                        <input type="text" readonly class="form-control-plaintext" id="status" value="Status">
                      </div>
                    </div>
                    <div class="mb-3 row">
                      <label for="price_per_day" class="col-sm-4 col-form-label">Image</label>
                      <div class="col-sm-8">
                        <img src="..." class="img-thumbnail" alt="...">
                      </div>
                    </div>
                    <div class="mb-3 row">
                      <label for="price_per_day" class="col-sm-4 col-form-label">Price Per Day</label>
                      <div class="col-sm-8">
                        <input type="text" readonly class="form-control-plaintext" id="price_per_day" value="Price Per Day">
                      </div>
                    </div>
                    <div class="mb-3 row">
                      <label for="created_at" class="col-sm-4 col-form-label">Created At</label>
                      <div class="col-sm-8">
                        <input type="text" readonly class="form-control-plaintext" id="created_at" value="Created At">
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>

            <!-- Delete Modal -->
            <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="editModalLabel">Delete Room</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <strong class="text-danger">Are You sure want to delete this room ?</strong>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Delete</button>
                  </div>
                </div>
              </div>
            </div>
          </tbody>
        </table>
      </div>
    </div>
  </div>
{{ end }}