{{ define "title" }}Room{{ end }}
{{ define "content" }}
  <div class="container mt-3">
    <div class="row mb-3">
      <div class="col">
        <h1>Data Ruangan Hotel</h1>
      </div>
      <div class="col mt-3">
        <button type="button" class="btn btn-outline-success float-end">Tambah Kamar</button>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <table class="table">
          <thead>
            <tr>
              <th scope="col text-center">No</th>
              <th scope="col">Room Number</th>
              <th scope="col">Type</th>
              <th scope="col">Capacity</th>
              <th scope="col">Status</th>
              <th scope="col">Image</th>
              <th scope="col">Price Per Day</th>
              <th scope="col">Created At</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            <tr>
              <th scope="row text-center">1</th>
              <td>C7232S</td>
              <td>Premium</td>
              <td>2 Person</td>
              <td>Active</td>
              <td>
                <img src="..." class="img-thumbnail" alt="...">
              </td>
              <td>Rp 78.000</td>
              <td>2 October 2023</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
{{ end }}